Package: graph2strat-static
Version: 1.6.1
Section: utils
Priority: optional
Architecture: amd64
Maintainer: KirrimK <KirrimK@users.noreply.github.com>
Description: Graph2strat is a tool designed
 to make development of statemachines for robot strategy easier
