Package: graph2strat-static
Version: 1.6.3
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Rémy B. <KirrimK@users.noreply.github.com>
Description: Dot graph conversion to Python state machine
 Graph2strat is a tool designed to make
 the development of statemachines for robot strategy easier
